// Base style sheet
$dark-bg: #333;
$dark-bg-text: #f1f1f1;


.page-content {
	padding: 0 0 1.5em 0;
	ul {padding-left: 2em;}
}

.ico-social {
	display: inline-block;
	width: 32px; height: 32px;
	background: #ccc;
	border-radius: $global-radius;
	vertical-align: middle;
	margin-left:.5rem;

	.ico-social:hover {
		background: #222;
	}
}

.photo-right {
	float: right;
	margin: 1rem 0 1rem 1rem;
}

.photo-right {
	float: left;
	margin: 1rem 1rem 0 1rem;
}

// @group Forms
.prefix-label {
	@include prefix-postfix-base;
	@include grid-column($columns:3, $float:left);

	border: 0px none;
	background: #f1f1f1;
}

input.prefixed {
	@include grid-column($columns:9);
}