// Base style sheet

html, body {
	font-family: AvenirNext-Medium;/* Donec ullamcorper nu: */
	font-size: 16px;
	line-height: 22px;
	background: #4A4A4A;
	section {
		color: #4A4A4A;
		background: #fff;
	}
}
.blue {
	color: $blue;
}
.green {
	color: $green;
}
.yellow {
	color: $yellow;
}