header {
	padding-top: 1rem;
	h1.site-id {margin: 0 0 1rem;}
}

header .top-bar .top-bar-section li {
	border-top: solid 1px lighten($topbar-dropdown-bg, 10%);
	border-bottom: solid 1px darken($topbar-dropdown-bg, 5%);
	border-left: none;
	border-right: none;
	&:first-child {
		border-top: none;
	}
	&:last-child {
		border-bottom: none;
	}
}


@media #{$small} { 
	header .top-bar .top-bar-section li {
		border-left: solid 1px darken($topbar-bg, 5%);
		border-right: solid 1px lighten($topbar-bg, 10%);
		border-bottom: none;
		border-top: none;
		&:first-child {
			border-left: none;
		}
		&:last-child {
			border-right: none;

		}
	}
}