//This includes some common variables for styling.

//Typography
//$secondary-font: "AvenirNextLTW02-Regular", sans-serif;

//Colors

$accent-one: #41B6E6;
$accent-two: #003057;
$accent-three: #F1B434;
$neutral-one: #f1f1f1;
$neutral-two: #ccc;
$neutral-three: #373737;

//Forms
