

// Site specific variables
@import "variables";

// Site specific mixins
@import "mixins";

// Site specific styles
@import "base";

// Style guide 
// @import "style_guide";

.container {
	width: 980px;
	margin: 0 auto;
}
header {
	background: url(images/header-bg.png) #fff;
	border-bottom: solid 12px #F1F1F1;
	h1 {
		margin: 0;
		background: url(images/logo.png) 11px 61px no-repeat;
		width: 300px;
		height: 127px;
		float: left;
		a {
			display: block;
			width: 300px;
			height: 127px;
		}
		span {
			display: none;
		}
	}
}
#nav-sub {
	list-style: none;
	float: left;
	clear: left;
	margin: 0 0 0 11px;
	padding: 0;
	li {
		display: inline-block;
		margin: 0 10px 0 0;
		background: #F1F1F1;
		line-height: 36px;
		padding: 0;
		a {
			color: $gray;
			padding: 0 17px;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
	ul {
		display: none;
	}
}
#mini-nav {
	float: right;
	list-style: none;
	width: 120px;
	text-align: right;
	font-size: 14px;
	margin: -36px 0 0 0;
	padding: 0;
	line-height: 36px;
	a {
		text-decoration: none;
		&#mini-nav-contact {
			color: $dark-gray;
		}
		&#mini-nav-login {
			color: $green;
		}
	}
}
#home_top {
	padding: 29px 0 38px 0;
	h2 {
		margin: 0 0 30px 0;
		text-align: center;
		font-size: 36px;
		color: #003057;
		line-height: 54px;
		font-weight: normal;
	}
	#video {
		float: left;
		width: 460px;
	}
	#testimonial {
		float: left;
		padding: 0 0 0 60px;
		width: 420px;
		font-size: 20px;
		color: #9C9C9C;
		line-height: 26px;
		background: url(images/quote.png) no-repeat 27px 14px;
		p {
			margin: 12px 0;
		}
		#attr {
			font-size: 16px;
			color: #3EB5E8;
			line-height: 22px;
		}
	}
}